/*Laptop Large and 4k*/
@media (max-width: 1200px) {
  /* container for all contents */
  .container {
    max-width: 960px;
  }
}

/* Tablets */
@media (max-width: 992px) {
  /* container for all contents */
  .container {
    max-width: 720px;
  }
  .navbar-toggler{
    border: 1px solid var(--color-secondary);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .navbar-nav{
    margin-top: 20px;
    background: #262936;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .navbar-expand-lg .navbar-nav .nav-link{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
  }
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .nav-link:hover {
      color: var(--color-secondary);
      border: 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
  }
}

/* Mobile Lg and Smaller Tablets */
@media (max-width: 768px) {
  /* container for all contents */
  .container {
    max-width: 540px;
    padding-inline: 15px;
  }
}

/* Mobile Large*/
@media (max-width: 470px) {
  .container {
    width: 100%;
  }
}
/* Mobile Meduim, Small and very small*/
@media (max-width: 375px) {
    :root {
        font-size: 12px;
    }
}
